crea_tu_propia_documentacion.md
desafio_final.md
leer_atencion.md
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env

# Streamlit
.streamlit/secrets.toml